body {
  background-color: #61cbff;
}

.header {
  text-align: center;
  padding: 5% 3% 3% 3%;
}

.header input {
  font-size: 1.6vw;
  width: 30%;
  padding: 0.3%;
  display: inline-block;
  margin-right: 1%;
}

.header button {
  font-size: 1.6vw;
  background-color: #0060ff;
  color: white;
  border: none;
  width: 5%;
  padding: 0.5%;
  cursor: pointer;
  border-radius: 10%;
  margin-left: 1%;
}

.header button:hover {
  background-color: #677cff;
  transition: all 0.2s;
}

.list {
  border-radius: 10px;
  font-size: 1.5vw;
  padding: 0.5%;
  display: block;
  margin: 0 auto;
  width: 35%;
  list-style: none;
  background-color: #b0e6ff;
  margin-bottom: 2%;
}

label {
  display: block;
  margin-bottom: 0.5%;
}
.form-block {
  margin-bottom: 2%;
}

.title {
  font-size: 2.2vw;
  font-weight: bold;
}
